<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.kshitijpatil.simpleflow">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_simpleflow">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".SimpleEventActivity"
            android:label="@string/title_activity_simple_event_activity"
            android:theme="@style/Theme.MVICompose.NoActionBar" />
    </application>

</manifest>